body{
    background-color: lightyellow;
}
.biodata{
    display:flex;
    align-items: flex-start;
    gap: 20px;
}
.biodata table{
   border-collapse: collapse;
}
.biodata th{
 padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;}
.biodata td{
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
}

h1{
    text-align:center;
}

tr:hover {background-color: coral;}